/* Uses joshwcomeau CSS Reset */
:root{
  --container-bg: rgba(255,255,255,90%);
  --container-text: rgba(0,0,0,80%);
  --green-but-bg: green;
}

/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

img#background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#pop-up-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,30%);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5);
  z-index: 1;
}

#end-game-notice {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 4rem;
  position: relative;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

#end-game-notice #game-outcome {
  font-weight: bold;
  font-size: 1.5rem;
}

#container {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  width: fit-content;
  padding: 2rem;
  border: 1px rgba(0, 0, 0, 15%) solid;
  border-radius: 1rem;
  background-color: var(--container-bg);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

#title {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: var(--container-text);
}

#container #round{
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--container-text);
}

/* Players */
#player-container {
  display: inline-flex;
  justify-content: center;
  gap: 4rem;
  height: auto;
  width: 100%;
}

#player-container .card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: auto;
  width: auto;
  color: var(--container-text);
}

.card .name {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-weight: normal;
}

.card .score {
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--container-text);
}

.move {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border: 1px rgba(0, 0, 0, 15%) solid;
  border-radius: 0.5rem;
  background-color: rgba(0,0,0,15%);
}

.move img {
  height: 100%;
  width: auto;
}

.round-point {
  font-size: 1rem;
  font-weight: bold;
  color: var(--green-but-bg);
  opacity: 0;
}

/* Controls */
#controls {
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
  height: auto;
  width: 100%;
}

button{
  cursor: pointer;
}

button.normal {
  width: 8rem;
  height: auto;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--green-but-bg);
}

button.normal:hover{
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

button.round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  border: 8px rgba(0, 0, 0, 30%) solid;
}

button.round img {
  height: 4rem;
  width: auto
}

#rock {
  background-color: #FF6961;
}

#rock:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

#paper {
  background-color: #ffc561;
}

#paper:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

#scissors{
  background-color: #619aff;
}

#scissors:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

/* Footer */
#copyright {
  position: absolute;
  bottom: 1rem;
}