/* 
Images:
    https://stock.adobe.com/au/search/images?filters%5Bcontent_type%3Aphoto%5D=0&filters%5Bcontent_type%3Aillustration%5D=1&filters%5Bcontent_type%3Azip_vector%5D=0&filters%5Bcontent_type%3Avideo%5D=0&filters%5Bcontent_type%3Atemplate%5D=0&filters%5Bcontent_type%3A3d%5D=0&filters%5Bcontent_type%3Aaudio%5D=0&filters%5Binclude_stock_enterprise%5D=1&filters%5Bis_editorial%5D=0&filters%5Bfree_collection%5D=0&filters%5Bcontent_type%3Aimage%5D=1&filters%5Bgentech%5D=all&k=rock+paper+scissors&order=relevance&price%5B%24%5D=1&safe_search=1&limit=100&search_type=filter-select&search_page=1&get_facets=1&asset_id=555847803
*/

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.controller-container
{
    display: flex;
    justify-content: center;
    gap: 48px;
    background-color: coral;
}

.btn-round
{
    height: calc(64px * 2.5);
    width: calc(64px * 2.5);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    border: 8px rgba(0, 0, 0, 50%) solid;
}

.btn-rock
{
    background-color: #FF6961;
}

.btn-paper
{
    background-color: #FDFD96;
}

.btn-scissors
{
    background-color: #AEC6CF;
}

.btn-round img
{
    height: 70%;
    filter: invert(1) opacity(0.7);
    -webkit-filter: invert(1) opacity(0.7);
}

.scores
{
    
}